**/__pycache__/
*cpython*

# VS Code #
*code-workspace

# Shell scripts #
*.sh

# Ignore lock files
*lock*
.zattrs
.zgroup

# Ignore pickle files
*.pkl

# Geocache #
utils/.api_key*

# Ignore all scripts & data files
**/*.py
**/*.ipynb
**/*.json
**/*.xlsx
**/*.csv
data/**/*
figs/**/*

# But not these data ....
# Beach Litter Surveys
!data/beach_litter/ospar/single/*.csv
!data/beach_litter/ospar/OSPAR_meta_litter_categories.xlsx
!data/beach_litter/ospar/remarks.csv
# Utilities
!utils/categories.json
!utils/definitions.py
!utils/kernel.py
!utils/transformation.py
!utils/statistics.py
!utils/styles.py

# Strokal et al. 2023
!data/physical/river/strokal2023/main_model_outputs.ods
!data/physical/river/strokal2023/readme_general.txt
!data/physical/river/strokal2023_efas_v5_weights.nc
# Ocean Wave Height Reanalysis
!data/physical/wave_height/wave_climatology.nc
# Mariculture locations
!data/economic/aquaculture/mariculture/all_marine_aquaculture_farms_sources_final.csv
!data/economic/aquaculture/mariculture_seasonality.py
# FAO Fish Production in NEA countries
!data/economic/production/fao_fish_production.nc
!data/economic/production/conversion_table_species_fao_to_eumofa.csv
# EUMOFA Export data
!data/economic/exports/exports_nea_countries.nc
# Icons for Figures
!figs/icons/sources/png/*.png

# and these scripts ....
!download_cmems_wave_height.py
!create_species_conversion_dict_fao_eumofa.py
!preprocess_ospar.py
!preprocess_river_efas_v5.py
!preprocess_river_strokal.py
!preprocess_fishing_capture.py
!preprocess_wave_height.py
!preprocess_exports.py
!preprocess_fao.py
!preprocess_mariculture.py
!preprocess_mariculture_seasonality.py

!run_ospar_gpr.py
!run_ospar_gpr_fraction.py

!postprocess_models.py

!perform_clustering_pca.py

!figure_0*.py

# ... even if they are in subdirectories
!*/

archive
presentation





